body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.stay-focused{
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.first-headlines{
    font-size: 22px;
    font-weight: 900;
    padding-left: 15px;
    line-height: 28px;
    border-left: 3px solid orangered;
    border-radius: 3px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
}
.flex-container{
    display: flex;
}
.stay-focused img{
    width: 70%;
    padding-left: 30px;
}
.stay-focused p{
    font-size: 15px;
}
button{
    background-color: tomato;
    padding: 13px 25px;
    border: 0;
    border-radius: 4px;
    color: white;
    margin-bottom: 20px;
    
}
.My-mission{
    margin-bottom: 70px;
}
.My-mission h1{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 50px;
}
.width-for-three{
    width: 26%;
    margin-left: 3%;
}

.My-mission img{
    width: 55%;
}
.My-mission-sub-class{
    margin-left: 10%;
    margin-right: 10%;

}
.My-mission-sub-class p{
    font-size: 12px;
    
}
.Mission{
    background-color: rgba(196, 242, 248, 0.478);
    border-radius: 10px;
    padding: 20px;
}
.Vission{
    background-color: rgba(255, 203, 203, 0.671);
    border-radius: 10px;
    padding: 20px;
}
.Goals{
    background-color: rgba(255, 235, 187, 0.493);
    border-radius: 10px;
    padding: 20px;
}
.Develop-Without-Limits{
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 50px;
    background-image: url(img/background-img.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: left;
    
}
.Develop-Without-Limits .width-img{
    margin-left: 7%;
}
.width-img{
    width: 40%;
    
}
.width-img img{
    width: 90%;

}
.width-text{
    width: 60%;
    padding: 0 10px;
}
.width-text p{
    font-size: 12px;
    padding-right: 15px;
}
.Global-Community{
    height: 300px;
    margin-left: 10%;
    margin-right: 7%;
    margin-bottom: 50px;
    background-image: url(img/background-img.png);
    background-repeat: no-repeat;
    background-size: 130px;
    background-position: right bottom;
    
}
.Global-Community .width-img{
    margin-right: 3%;
}
.About-Me{
    margin: 60px 50px;
}
.About-Me img{
    width: 70%;
    padding-left: 30px;
}
.About-Me .Round-Shape{
    height: 50px;
    width: 50px;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
    text-align: center;
}
.About-Me #Resume{
    background-color: rgba(32, 178, 171, 0.432);
}

.About-Me #Resume:hover{
    background-color: rgba(32, 178, 171, 0.877);
}
.About-Me #Work{
    background-color: rgba(255, 105, 180, 0.486);
}

.About-Me #Work:hover{
    background-color: rgba(255, 105, 180, 0.89);
}
.About-Me #Skill{
    background-color: rgba(255, 166, 0, 0.507);
}

.About-Me #Skill:hover{
    background-color: rgba(255, 166, 0, 0.842);
}
footer{
    height: 110px;
    background-color: black;
    text-align: center;padding: 10px;
}
footer p{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.695);
}
footer h3{
    color: white;
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
}
footer span{
color: red;
}
