body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.stay-focused{
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.first-headlines{
    font-size: 22px;
    font-weight: 900;
    padding-left: 15px;
    line-height: 28px;
    border-left: 3px solid orangered;
    border-radius: 3px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
}
.flex-container{
    display: flex;
}
.stay-focused img{
    width: 70%;
    padding-left: 30px;
}
.stay-focused p{
    font-size: 15px;
}
.stay-focused button{
    background-color: tomato;
    padding: 13px 25px;
    border: 0;
    border-radius: 4px;
    color: white;
    margin-bottom: 20px;
    
}
.My-mission{
    margin-bottom: 30px;
}
.My-mission h1{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 50px;
}
.width-for-three{
    width: 26%;
    margin-left: 3%;
}

.My-mission img{
    width: 45%;
}
.My-mission-sub-class{
    margin-left: 10%;
    margin-right: 10%;

}
.My-mission-sub-class p{
    font-size: 12px;
    
}
.Mission{
    background-color: rgba(196, 242, 248, 0.478);
    border-radius: 10px;
    padding: 20px;
}
.Vission{
    background-color: rgba(255, 203, 203, 0.671);
    border-radius: 10px;
    padding: 20px;
}
.Goals{
    background-color: rgba(255, 235, 187, 0.493);
    border-radius: 10px;
    padding: 20px;
}